
  <div class="row">
    <div class="col-12">
      <div class="card contactInfoCard">
        <div class="card-header contactInfoHeader">
          <h4 class="headerTitle">Contact Information</h4>
        </div>
        <div class="card-body contactInfoContent">
          <div >
            <form>
              <div class="row align-items-center align-content-center">
                <label for="account" class="col-lg-2 col-md-2 col-sm-3  col-3 col-form-label form-label"><span class="text-danger">*</span>Account</label>
                <div class="col-lg-2 col-md-3 col-sm-7 col-7 ">
                  <input type="text" name="account" [(ngModel)]="customerInfo.account" (ngModelChange)="onInputChange()" class="form-control" required />
                </div>
                <div class="col-lg-1 col-md-2  col-sm-2 col-2 ">
                  <mat-icon>search</mat-icon>
                </div><label for="dd1" class="col-lg-1 col-md-2 col-sm-3 col-3 col-form-label">dd1:</label>
                <div class="col-lg-2 col-md-3 col-sm-3  col-3">
                  <select name="dd1" class="form-select form-select-sm" [(ngModel)]="customerInfo.dd1" (ngModelChange)="onInputChange()">
                    <option value="{{customerInfo.dd1}}" selected>{{customerInfo.dd1}}</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                  </select>
                </div>
                <label for="dd2" class="col-lg-1 col-md-2 col-sm-3 col-3 col-form-label">dd2:</label>
                <div class="col-lg-2 col-md-3 col-sm-3  col-3">
                  <select name="dd2" class="form-select form-select-sm" [(ngModel)]="customerInfo.dd2" (ngModelChange)="onInputChange()">
                    <option value="{{customerInfo.dd2}}" selected>{{customerInfo.dd2}}</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                  </select>
                </div>
              </div>
              <div class="row ">
                <label for="r-TB1" class="col-lg-2 col-md-2 col-sm-3 col-3 col-form-label">R-TB1</label>
                <div class="col-md-4 col-sm-7 col-sm-7 col-7">
                  <input type="tel" name="r-TB1" class="form-control" disabled value="{{customerInfo.rtb1}}"/>
                </div>
              </div>
              <div class="row ">
                <label for="name" class="col-lg-2 col-md-2 col-sm-3 col-3 col-form-label">Name:</label>
                <div class="col-md-4 col-sm-7 col-sm-7 col-7">
                  <input type="text" name="name" class="form-control" [(ngModel)]="customerInfo.contactInformation.name" (ngModelChange)="onInputChange()"/>
                </div>
                <label for="phone" class="col-lg-2 col-md-2 col-sm-3 col-3 col-form-label"><span class="text-danger">*</span>Phone:</label>
                <div class="col-md-4 col-sm-7 col-sm-7 col-7">
                  <input type="tel" name="phone" class="form-control" required [(ngModel)]="customerInfo.contactInformation.phone" (ngModelChange)="onInputChange()"/>
                </div>
              </div>
              <div class="row ">
                <label for="email" class="col-lg-2 col-md-2 col-sm-3 col-3 col-form-label">Email:</label>
                <div class="col-md-4 col-sm-7 col-7">
                  <input type="email" name="email" class="form-control" required [(ngModel)]="customerInfo.contactInformation.email" (ngModelChange)="onInputChange()"/>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>