
    <div class="row">
        <div class="col-12">
            <div class="card shippingInfoCard">
                <div class="card-header shippingInfoHeader">
                    <h4 class="headerTitle">Shipping Information</h4>
                </div>
                <div class="card-body shippingInfoContent">
                    <div>
                        <form>
                            <div class="row justify-items-center">
                                <label class="col-lg-2 col-md-2 col-sm-2 col-2"></label>
                                <label for="country" class="col-lg-2 col-md-2 col-sm-2 col-2">Country</label>
                                <label for="zip" class="col-lg-2 col-md-2 col-sm-2 col-2">Zip</label>
                                <label for="city" class="col-lg-2 col-md-2 col-sm-2 col-2">City</label>
                                <label for="state" class="col-lg-2 col-md-2 col-sm-2 col-2">State</label>
                            </div>
                            <div class="row align-items-center align-content-center mb-2">
                                <label for="originCountry" class="col-lg-2 col-md-2 col-sm-2 col-2">Origin</label>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                    <select id="originCountry" class="form-select form-select-sm" [(ngModel)]="shippingInfo.origin.country" (ngModelChange)="onInputChange()" name="originCountry">
                                        <option value="{{shippingInfo.origin.country}}" selected>{{shippingInfo.origin.country}}</option>
                                        <option value="US">US</option>
                                        <option value="Mexico">Mexico</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2  col-sm-2 col-2">
                                    <input type="text" name="originZip" class="form-control" required [(ngModel)]="shippingInfo.origin.zipCode" (ngModelChange)="onInputChange()" />
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                    <input type="text" name="originCity" class="form-control " required [(ngModel)]="shippingInfo.origin.city" (ngModelChange)="onInputChange()"/>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                    <input type="text" name="originState" class="form-control " required  [(ngModel)]="shippingInfo.origin.stateProvince" (ngModelChange)="onInputChange()"/>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="resetOriginFields()">Clear</button>
                                </div>
                            </div>
                            <div class="row align-items-center align-content-center mb-2">
                                <label for="destinationCountry" class="col-lg-2 col-md-2 col-sm-2 col-2">Destination</label>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                    <select id="destinationCountry" class="form-select form-select-sm" [(ngModel)]="shippingInfo.destination.country" (ngModelChange)="onInputChange()" name="destinationCountry">
                                        <option value="{{shippingInfo.destination.country}}" selected>{{shippingInfo.destination.country}}</option>
                                        <option value="US">US</option>
                                        <option value="Mexico">Mexico</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                    <input type="text" name="destinationZip" class="form-control " required [(ngModel)]="shippingInfo.destination.zipCode" (ngModelChange)="onInputChange()"/>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                    <input type="text"   name="destinationCity" class="form-control " required [(ngModel)]="shippingInfo.destination.city" (ngModelChange)="onInputChange()"/>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                    <input type="text" name="destinationState" class="form-control " required [(ngModel)]="shippingInfo.destination.stateProvince" (ngModelChange)="onInputChange()"/>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="resetDestinationFields()">Clear</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>